.main-container {
    max-width: $max-width;
    background-color: $light-text;
    @include mq-styles(tablet) {
        @include flex-props($direction: row);
    }
}

.wrapper {

    @include flex-props($direction: column);
    flex: 1 100%;
    @include mq-styles(tablet) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    // Child contents

    &-web-traffic,
    &-daily-traffic,
    &-source-traffic,
    &-socmed-stats,
    &-new-member,
    &-recent-activities,
    &-message,
    &-settings {
        border-bottom: 1px dashed $border-color;
        padding: 1em;
    }

    &-web-traffic,
    &-socmed-stats,
    &-tab-search {
        @include mq-styles(tablet) {
            flex-basis: 100%;
            width: 100%;
        }
    }

    // containers that are 50% width on tablets and above
    &-daily-traffic,
    &-source-traffic,
    &-new-member,
    &-recent-activities,
    &-message,
    &-settings {
        @include mq-styles(tablet) {
            // flex-basis: 50%;
            // width: 50%;
            flex: 0 50%;
        }
    }

    // borders for 50% width containers located on left side
    &-daily-traffic,
    &-new-member,
    &-message {
        @include mq-styles(tablet) {
            border-right: 1px dashed $border-color;
        }
    }

    &-socmed-stats {
        @include flex-props($direction: column, $align: center, $justify: space-between, $wrap: wrap);

        @include mq-styles(tablet) {
            flex-direction: row;
        }
    }

    // container for title tab and search bar
    &-tab-search {
        @include flex-props($direction: column, $align: center);
        @include mq-styles(tablet) {
            flex-direction: row;
        }
    }

    // the title tab
    &-tab {
        display: none;
        @include mq-styles(tablet) {
            padding: 0 20px;
            display: inline;
        }

    }

    // search bar
    &-search-bar {
        background-color: $body-bg;
        width: 100%;
        @include mq-styles(tablet) {
            flex: 1;
            border-left: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
        }
    }

}

.grouped {
    @include flex-props($direction: row, $justify: space-between);

    & #datasets-options {
        display: none;

        @include mq-styles(tablet) {
            display: inline;
        }
    }
}
