.top {
    position: fixed;
    background-color: $primary-color;
    color: $light-text;
    height: 50px;
    width: 100%;

    @include flex-props($direction: column);

    &-nav {
        @include flex-props($justify: space-between, $align-self: center, $align: center);
    }

    &-logo {
        align-self: center;
        margin-left: 15px;
        font-size: $base-font-size * 1.2;

        @include mq-styles(tablet) {
            margin-right: auto;
        }

    }

    &-avatar-img img {
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border: 1px dotted $light-text;
        padding: 2px;
        width: 40px;
        height: auto;
    }

    @include mq-styles(tablet) {
        flex-direction: row;
    }
}

.vertical-nav {
    background-color: $secondary-color;
    color: $light-text;
    text-align: center;

    @include mq-styles(tablet) {
        position: fixed;
        top: 50px;
        bottom: 0;
        width: 50px;
    }

    & ul {
        list-style: none;
        padding: 0;

        & li {
            margin: 25px auto;
        }
    }
}
