
fieldset {
    outline: 0;
    border: 0;
}

input,
textarea,
select {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    background-color: #ececec;
	border: 1px solid #ececec;
	border-radius: 4px;
	box-shadow: none;
	padding: 10px;
	-webkit-transition: all 0.7s; /* Safari */
    transition: all 0.7s;
}

legend {
    display: none;
}

button {
	width: 100%;
	padding: 15px;
	border-radius: 3px;
	border:0;
	border-bottom: 2px solid $secondary-color;
	background-color: $primary-color;
	color: #fff;
    text-transform: uppercase;
    font-size: $base-font-size - 0.1;

    &:focus {
        outline: none;
    	border: 1px solid $dark-text;
    	font-weight: bold;
    }

    &#btn-settings-save,
    &#btn-settings-cancel {
        width: 48%;
    }

    &#btn-settings-cancel {
        background-color: $widget-bg;
        border-bottom: 2px solid $border-color;
        color: $dark-text;
        float: right;
    }
}

// Search bar

#search {
    margin: 10px;
    @include mq-styles(tablet) {
        margin: 20px 20px 20px auto;
        width: 50%;
    }

}
label {
    display: none;
}

// settings form
#user-settings-form {
    & .option {
        @include flex-props($direction: row, $align: center);
        margin-bottom: 10px;

        & .label {
            width: 60%;
        }
    }

    & select {
        margin-bottom: 15px;
        margin-top: 15px;
    }

}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: $switch-width;
  height: $switch-height;

  /* Hide default HTML checkbox */
  & input {
      display: none;
  }
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;

  &:before {
      position: absolute;
      content: "";
      height: ($switch-width / 2 - 2);
      width: ($switch-width / 2 - 2);
      left: 2px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
  }

  &.round {
       border-radius: $switch-width / 2 - 2;

       &:before {
           border-radius: 50%;
       }
  }
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX($switch-width / 2 - 2);
  -ms-transform: translateX($switch-width / 2 - 2);
  transform: translateX($switch-width / 2 - 2);
}
