*, *::after, *:before {
	box-sizing: border-box;
}

body {
    font-family: $stack-roboto;
	background-color: $body-bg;
	font-size: $base-font-size;
	font-weight: 300;
}

canvas {
	width: 100%;
	height: auto;
}
