*, *::after, *:before {
	box-sizing: border-box;
}

body {
    font-family: $stack-roboto;
	background-color: $body-bg;
	font-size: $base-font-size;
	font-weight: 300;
}

canvas {
	width: 100% !important;
	height: auto !important;
	max-height: 350px; // for some reason the canvas keep expanding in height not matter how I make the data smaller
}
